.main h1 {
	text-align: center;
	padding-bottom: 5%;
	border-bottom: 1px solid black;
}

.main ul li a{
	text-decoration: none;
	color: black;
}

.main ul li a:hover {
	background-color: grey;
	color: white;
	padding: 0.5%;
}

/* writingPageStyle */

.main h3 {
    padding-bottom: 1%;
	border-bottom: 1px solid black;
	color: gray;
}

/* readingsPageStyle */

.main p a {
	text-decoration: none;
	color: gray;
}

.main p a:hover {
	background-color: grey;
	color: white;
	padding: 0.5%;
}