.main h1 {
	text-align: center;
	padding-bottom: 5%;
	border-bottom: 1px solid black;
}

.main ul li a{
	text-decoration: none;
	color: grey;
}

.main ul li a:hover {
	background-color: grey;
	color: white;
	padding: 0.5%;
}

/* writingPageStyle */

.main h3 {
    padding-bottom: 1%;
	border-bottom: 1px solid black;
	color: grey;
}

/* readingsPageStyle */

.main p a {
	text-decoration: none;
	color: grey;
}

.main p a:hover {
	background-color: grey;
	color: white;
	padding: 0.5%;
}

/* Project Section Styling */
.project {
    margin-bottom: 20px;
    padding: 10px;
    border-left: 4px solid grey;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.project h4 {
    margin-bottom: 5px;
    color: black;
}

.project p {
    margin: 5px 0;
    color: grey;
}
